### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Spark
metastore_db/
spark-warehouse/

### Java HotSpot Error
hs_err_pid*

### IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
.attach_pid*

### Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.swp

### Misc
*.bak
*.private
*.old
*.log
/conf
/input
/output
