#export TIMEFORMAT=$'\nreal %3R\tuser %3U\tsys %3S\tpcpu %P\n'
#export HISTTIMEFORMAT="%H:%M > "
#export HISTIGNORE="&:bg:fg:ll:h"

export HOSTFILE=$HOME/.hosts

export EDITOR='nano'

export HISTCONTROL='ignoredups'

export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

export MANPAGER='less -X';

export GREP_OPTIONS='--color=auto';

