[Unit]
Description=Deletes Systemd journal logs which are older than 365 days

[Service]
Type=oneshot
ExecStart=/usr/bin/journalctl --vacuum-time=365d

[Install]
WantedBy=default.target
